{% extends 'base.html.twig' %}

{% block title %}Register !{% endblock %}

{% block body %}
    <form method="post">

        <h1 class="h3 mb-3 font-weight-normal">Register</h1>
        <label for="inputNomComplet" class="sr-only">User Name</label>
        <input type="text" name="username" id="username" class="form-control" placeholder="username" required autofocus>
        <label for="inputEmail" class="sr-only">Email</label>
        <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>

        <button class="btn btn-lg btn-primary" type="submit">
            Register
        </button>
    </form>
{% endblock %}
